.footer{
        background-color: black;
        position: relative;
        min-height: 400px;
        min-width: 100%;
}
.text-area{
        background-color: black;
        position: absolute;
        left: 50%;
        top: 20%;
        display: flex;
        transform: translate(-50%, -50%);
        flex-direction: row;
        min-width: 100%;
        justify-content: space-between;
        padding-left: 7%;
        padding-right: 7%;
        align-items: center;

}

.footerLogo p{
        display: inline;
        font-family: 'Kadwa';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 60px;
        text-align: right;
}
.footerName{
        color: #264FE3;
}

.footerComm{
        color: white;
}

.quinta-block{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.quinta-block:hover{
        text-decoration: none;
}
.developed{


        font-family: 'League Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;

        color: #FFFFFF;


}
.quinta{
        width: 127px;
        height: 86px;
        padding: 10% 10% ;
        border: none;
        margin-top: -20%;
}


.footerLink{
        background-color: black;
        margin-top: 5%;
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        transform: translate(-50%, -50%);
        flex-direction: row;
        min-width: 100%;
        justify-content: space-evenly;
}
.company{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap:5%;
}

.social{
        display: flex;
        flex-direction: row;
        text-align: left;
        gap:15%;
}

.heading{
        font-family: 'Inter';
        font-style: normal;
        font-size: 20px;
        color: #FFFFFF;


}

.heading:hover{
        text-decoration: none;
}

.sub-heading{
        font-family: 'Inter';
        font-style: normal;
        font-size: 12px;
        color: #AEA6A6;

}

.sub-heading:hover{
        text-decoration: none;
}
.icon{
        width: 40;
        height: 40px;
}

.ser-cov{
        display: flex;
        flex-direction: column;
}



@media (max-width: 768px) {

        .footer{
                /* display: flex;
                flex-direction: column; */
        }
        .text-area{
                background-color: black;
                /* position: absolute; */
                /* left: 50%; */
                /* top: 20%; */
                /* display: flex; */
                /* transform: translate(-50%, -50%); */
                /* flex-direction: row; */
                /* min-width: 100%; */
                /* justify-content: space-between; */
                /* padding-left: 7%; */
                /* padding-right: 7%;
                align-items: center; */
        
        }
        .footerLogo p{
                display: inline;
                font-family: 'Kadwa';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 60px;
                text-align: right;
        }
        .developed{


              
                font-size: 15px;
        
        
        
        }
        .quinta{
                width: 107px;
                height: 76px;
        }

        .footerLink{
                
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: start;
                gap:10px;
                margin-top: 40%;
                padding-left: 10%;
                /* transform: translate(-50%, -50%); */
                /* min-width: 100%; */
                /* justify-content: space-evenly; */
        }

        .company{
                /* display: flex;
                flex-direction: column;
                text-align: left;
                gap:5%; */
                /* width: 90%; */
        }

        .social{
                display: grid;
                grid-template-columns: repeat(2, 0fr);
        }
        .icon{
                width: 30px;
                height: 30px;
        }
        

        

}

