

.navbar{

        background-color: #c2bfbf;
        /* position: fixed;         */
        /* top: 0; */
        /* width: 100%;
        z-index: 9999; */
        /* top: 0;
        left: 0;
        width: 100%;
        z-index: 9999; */
        /* height: 70px; */
}

.logo p, .logo{
        display: inline;
        font-family: 'Kadwa';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        font-size: 3.2vh;
        text-decoration: none;

        line-height: 60px;
        text-align: right;
        
}
.name{

        color: #264FE3;
        

}
.logo:hover{
        text-decoration: none;
}

.com{
        color: #000000;
}






.navbar-collapse.collapse a:hover{
        color: #264FE3 ;
         text-decoration: none;
         transition: 0.3s;
}



@media (max-width: 768px){

        .logo p, .logo{
                display: inline;
                font-family: 'Kadwa';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                text-decoration: none;
        
                line-height: 60px;
                text-align: right;
                
        }

        
}