
.propertyListHeading{
        margin-top: 5%;
        font-family: 'Inter';
        font-style: normal;
        font-size: 20px;
        line-height: 48px;
        color: #264FE3;
        text-align: left;
        padding-left: 17%; 
        padding-right: 19%;
        display: block;
        justify-content: start;
}

.propertyListContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 15%;
}





.propertyListArrowButton.active {
        max-width: 80px;
        max-height: 80px;
        background-color: transparent;
        border: 0px solid black;
        outline: none;

}



.propertyLink{
        color: #37474F;
}
.propertyLink:hover{
        text-decoration: none;
        color: #264FE3;
}
