
.propertyListHeading{
        margin-top: 5%;
        font-family: 'Inter';
        font-style: normal;
        font-size: 20px;
        line-height: 48px;
        color: #264FE3;
        text-align: left;
        padding-left: 17%; 
        padding-right: 19%;
        display: block;
        justify-content: start;
}

.propertyListContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 15%;
}





.propertyListArrowButton.active {
        max-width: 80px;
        max-height: 80px;
        background-color: transparent;
        border: 0px solid black;
        outline: none;

}



.propertyLink{
        color: #37474F;
}
.propertyLink:hover{
        text-decoration: none;
        color: #264FE3;
}
.propertyListPagination{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20px;
}
.propertyListPaginationButton {
        outline: none;
        background: transparent;
        margin: 0;
        padding: 8px 12px; /* Adjust padding as needed */
        border: 1px solid #333; /* Add a subtle border */
        border-radius: 4px; /* Round the corners */
        cursor: pointer;
        transition: background-color 0.3s; /* Smooth transition for hover effect */
      }

.propertyListPaginationButton:hover {
background-color: #f0f0f0; /* Change background color on hover */
}


@media (max-width: 600px) {

      
        .propertyListHeading{
                padding-right: 0%;
                font-size: 15px;
                
        }
}

