.cardd{

        color: #5A5A5A;
        text-decoration: none;
        /* width: 303px; */
       
}

.card-bodyy{
        display: flex;
        flex-direction: column;
        margin: 10%;
        text-decoration: none;
        color: black;
       
}

.propertyImage{
        object-fit: cover;
        max-height: 162px;
        min-height: 162px;
        width: 100%;
        }
.propertyImage:hover{
        filter: brightness(0.5);
        transition: filter 0.3s;
}


.propertyIconValueList{
        width: 100%;
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-evenly;
}


.propertyIconValueContainer{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: flex-start   ;
        gap: 10px;
        width: 100%;
}

.propertyIcon{
        max-width: 16px;
        max-height: 16px;
}
.propertyIconValue{
        /* margin-top: -1px; */
        font-size: 13px;
}




.propertyAddress{
        color: #5A5A5A;
        font-size: 14px;
}
.propertyDate{
        color: #5A5A5A;
        font-size: 12px;
}








