
.propertyHorizontalListHeading{
        margin-top: 5%;
        font-family: 'Inter';
        font-style: normal;
        font-size: 20px;
        line-height: 48px;
        color: #264FE3;
        text-align: left;
        /* padding-left: 17%;  */
        padding-right: 55%;
        display: block;
        justify-content: start;
}

.propertyHorizontalListContainer{
      display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px; 
}

@media (max-width: 600px) {

        .propertyHorizontalListContainer{
                margin-left: -8px;
                margin-right: 15px; 
        }
        .propertyHorizontalListHeading{
                padding-right: 0%;
                font-size: 15px;
        }
        .propertyHorizontalListArrowButton{
                /* width: 2px;
                height: 2px; */
        }
        .propertyHorizontalListArrowImage{
                width: 20px;
                height: 50px;
        }
        .propertyLink{
               font-size: 15px;
        }
}

.propertyHorizontalListArrowButton{
        max-width: 80px;
        max-height: 80px;
        background-color: transparent;
        border: none;
        
        outline: none;
}



.propertyHorizontalListArrowButton.active {
        max-width: 80px;
        max-height: 80px;
        background-color: transparent;
        border: 0px solid black;
        outline: none;

}


.listWithArrows{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
}
.propertyLink{
        color: #37474F;
}
.propertyLink:hover{
        text-decoration: none;
        color: #264FE3;
}


.propertyHorizontalListWholeContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
}