.container-test{
        position: relative;
}
.test-image{
        position: relative;
        width: 100%;
        height: 660px;
        object-fit: fill;
}
.text-test{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 10%;
        right: 10%;
        top: 10%;
        align-items: center;
        padding: 2% 5% 2% 5%;
}
.heading2{


        font-family: 'Inter';
        font-style: italic;
        font-weight: 300;
        font-size: 34px;
        line-height: 90px;


        color: #FFFFFF;


}
.comma{
        width: 50px;
        height: 50px;
}
.quotation{
        margin-top: 5%;
        color: white;
        font-size: 20px;
        min-width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding: 5% 10% 5% 10%;
        /* width: 963px; */
        /* height: 337px; */
        background-color: black;
        mix-blend-mode: plus-darker;
}