.container-test {
        position: relative;
        margin-top: 5%;
      }
      
      .test-image {
        position: relative;
        width: 100%;
        height: auto; /* Change to auto to maintain aspect ratio */
        /* max-height: 660px;  */
        object-fit: cover; /* Change to cover to maintain aspect ratio and cover the container */
      } 
      
      .text-test {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 10%;
        right: 10%;
        top: 10%;
        align-items: center;
        padding: 2% 5% 2% 5%;
      }
      
      .heading2 {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300;
        font-size: 34px;
        line-height: 90px;
        color: #FFFFFF;
      }
      
      .comma {
        width: 50px;
        height: 50px;
      }
      
      .quotation {
        margin-top: 5%;
        color: white;
        font-size: 20px;
        min-width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding: 5% 10% 5% 10%;
        background-color: black;
        mix-blend-mode: plus-darker;
      }
      
      /* Responsive Styles */
      @media (max-width: 768px) {


        .container-test {
          position: relative;
          margin-top: 5%;
        }

        .test-image {
          height: 60vh;
         }
        .text-test {
          top: 20%;
          left: 5%;
          right: 5%;
          /* padding: 2% 2% 2% 2%; */
        }
      
        .heading2 {
          font-size: 18px;
          line-height: 10px;
        }

        .comma {
                width: 30px;
                height: 30px;
                margin-top: 10%;
              }
      
        .quotation {
                font-size: 12px;
          line-height: 17px;
          margin-top: 13%;
          padding-right: 10%;
          padding-left: 10%;
        }
        
      }
      